.singIn-wrapper {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.singIn-conteiner {
    display: flex;
    flex-flow: column;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.singIn-conteiner input, .singIn-conteiner button {
    width: 300px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
    text-align: center;
}

i {
    color: red;
    margin: 0 0 10px 0;
}